/* Общие стили для изображений */
.iphone-frame img {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
    #carouselExampleFade {
        width: 150px; /* Уменьшаем размер карусели */
    }
    .iphone-frame img {
        max-width: 100%;
        height: auto;
    }
}
