{% extends "base.html" %}

{% block title %}Главная - BeBetter{% endblock %}

{% block content %}
<div class="container mt-4 text-center">
    <h1>Добро пожаловать, {{ user.first_name|default:user.username }}!</h1>
    <h3>Ваш текущий уровень: {{ user.userprofile.level }}</h3>

    <div class="card mt-4">
        <div class="card-header">
            <h5>Текущая задача</h5>
        </div>
        <div class="card-body">
            <p>{{ user.userprofile.current_task }}</p>
        </div>
    </div>

    <a href="/update_user/" class="btn btn-primary mt-4">Редактировать аккаунт</a>
</div>
{% endblock %}
