{% extends "base.html" %}

{% block title %}Условия использования - BeBetter{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Условия использования</h1>
    <div class="card shadow p-4">
        <div class="card-body">
            <h2 class="mb-3">Введение</h2>
            <p>
                Добро пожаловать на платформу <strong>BeBetter</strong>. Используя наш сервис, вы соглашаетесь соблюдать приведённые ниже условия. Если вы не согласны с этими условиями, пожалуйста, не используйте нашу платформу.
            </p>

            <h2 class="mt-4 mb-3">Использование платформы</h2>
            <p>
                Платформа предоставляется для личного использования. Вы обязуетесь не использовать платформу для незаконных или несанкционированных действий, включая, но не ограничиваясь:
            </p>
            <ul>
                <li>Распространение ложной информации.</li>
                <li>Попытки взлома платформы.</li>
                <li>Использование платформы для спама или мошенничества.</li>
            </ul>

            <h2 class="mt-4 mb-3">Регистрация аккаунта</h2>
            <p>
                Чтобы получить доступ к полному функционалу платформы, вы должны зарегистрировать аккаунт. При регистрации вы обязуетесь предоставить актуальную и точную информацию.
            </p>
            <p>
                Вы несёте ответственность за безопасность своего аккаунта, включая сохранение пароля в тайне. Мы не несем ответственности за несанкционированный доступ к вашему аккаунту.
            </p>

            <h2 class="mt-4 mb-3">Ограничение ответственности</h2>
            <p>
                Платформа предоставляется "как есть", без каких-либо гарантий. Мы не несем ответственности за возможные убытки, возникшие в результате использования нашей платформы.
            </p>

            <h2 class="mt-4 mb-3">Изменения условий</h2>
            <p>
                Мы оставляем за собой право вносить изменения в данные условия. Обновления будут опубликованы на этой странице. Мы рекомендуем вам регулярно проверять условия использования.
            </p>

            <h2 class="mt-4 mb-3">Контакты</h2>
            <p>
                Если у вас есть вопросы по поводу условий использования, свяжитесь с нами:
            </p>
            <ul>
                <li>Email: <a href="mailto:terms@bebetter.com" class="text-decoration-none">terms@bebetter.com</a></li>
                <li>Телефон: +123 456 789</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
